* {
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
    color: black;
    scroll-behavior: smooth;
}
.container{
  width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.name{
  font-size: 2em;
  font-weight: 400;
  margin: 2em 0em 1em 3em ;
}
main{
  margin-top: 10em;
}
