.container {
  width: 86%;
  overflow: hidden;
  margin: 8em auto;
  display: flex;
}
.left {
  width: 408.54px;
  height: 544.71px;
  margin-right: 8em;
}
.left img {
  height: 100%;
  width: 100%;
}
.right{
    width: 60%;
}
.name {
  font-size: 3em;
  font-weight: 400;
}
.brand {
  font-size: 24px;
  font-weight: 500;
  opacity: 0.5;
}
.sideHead {
  font-size: 24px;
  font-weight: 400;
  opacity: 0.8;
}
.sideHead,
.brand,
.name {
  margin: 0.8em 0;
}
.description {
  opacity: 0.5;
  margin-top: 0.8em;
  width: 64%;
}
.previews {
  width: 50%;
  display: flex;
}
.card {
  width: 61px;
  height: 77px;
  padding: 2px;
  margin-right: 7px;
}
.card img {
  width: 100%;
  height: 100%;
 
}
.btn{
  background-color: #009688;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 18px 36px;
  border-radius: 6px;
  margin-top: 36px;
  margin-bottom: 30px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: transform 200ms;
}
.btnBlink{
 transform: scale(1.1,1.1);
}
